footer {
	background: rgba(51,51,51,1);
	color: white;
}

footer .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
}

.icon-facebook {
	background: url(img/icons/facebook.png);
}
.copy {
	padding-top: 5px;
	font-size: 20px;
}

.sociales {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.sociales a {
	color: #fff;
	text-decoration: none;
}