<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Viajes Venta</title>
    <link rel="stylesheet" href="css/ventas.css">
</head>

<body>
    <div id="viewport">
        <div class="form-wrapper">
            <form action="#" method="POST" name="form-datos">
                <div id="client-data">
                    <div>
                        <label for="clientName">Nombre</label>
                        <input type="text" name="clientName" id="clientName" required>
                    </div>
                    <div>
                        <label for="lastNameClient">Apellidos</label>
                        <input type="text" name="lastNameClient" id="lastNameClient">
                    </div>
                    <div>
                        <label for="ageClient">Edad</label>
                        <input type="number" name="ageClient" id="ageClient">
                    </div>
                    <div>
                        <label for="addresClient">Direccion</label>
                        <input type="text" name="addresClient" id="addresClient">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>